
.footer {
    height: 40px;
    max-height: max-content;
    color: rgba(175, 175, 175, 0.9);
    background-color: black;
    opacity: 95%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    position:fixed;
}

.fi_media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    max-width: max-content;
    padding: 10px 0;
    margin-left: 50px;
}

.text_footer {
    width: max-content;
    color: #777777;
    text-align: right;
    margin: auto 30px;
}

.media_i1 {
    content: url(../../img/social_media/Twitter.png);
}

.media_i2 {
    content: url(../../img/social_media/Facebook.png);
}

.media_i3 {
    content: url(../../img/social_media/Google.png);
}

.media_i4 {
    content: url(../../img/social_media/Pinterest.png);
}

.media_i5 {
    content: url(../../img/social_media/RSS.png);
}

.i_media:hover>.media_i1 {
    content: url(../../img/social_media/Twitter_u.png);
}

.i_media:hover>.media_i2 {
    content: url(../../img/social_media/Facebook_u.png);
}

.i_media:hover>.media_i3 {
    content: url(../../img/social_media/Google_u.png);
}

.i_media:hover>.media_i4 {
    content: url(../../img/social_media/Pinterest_u.png);
}

.i_media:hover>.media_i5 {
    content: url(../../img/social_media/RSS_u.png);
}
