.authorization {
    min-height: 95vh;
    width: 100%;
    max-height: 100%;
    min-width: max-content;
    position: relative;
    display: flex;
    background: #282623 url(../img/site/authimg.jpg) center/ cover;
    justify-content: center;
    align-items: center;
}

.authbox {
    margin-bottom: 50px;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #181818d7;
    padding: 15px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
}
.errorBox {
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ED3024
}

.contBoxForm {
    height: 200px;
    width: max-content;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.contInput {
    color: #FFFFFF;
    height: 37px;
    width: 320px;
    border: 0;
    border-bottom:solid 1px #3F3F3F;
    background-color: rgba(0, 0, 0, 0);
}

.contInput:focus {
    border-bottom:solid 1px #107EFF;
    background-color: none;
}


.authInput{
    margin-top: 65px;
    position: absolute;
    display: flex;
    justify-content: center;
}
.authInputCheckBox {
    margin-right: 10px;
    opacity: 80%;
}

.contBoxButton {
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 8px 15px;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #3137C9;
}
.contBoxButton:hover {
    background-color: #313FFF;
    transition: .2s;
}

.authLink {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.authLinkText {
    color: #FFFFFF;
    text-transform: uppercase;
}
.authLinkText:hover {
    color: #107EFF;
    text-transform: uppercase;
    transition: .2s;
}

