.authorization {
    width: 100%;
    height: 890px;
    max-height: 100%;
    position: relative;
    display: flex;
    background: rgba(158, 158, 158, 0.568) url(../img/site/authimg.jpg) top /cover;
    justify-content: center;
    align-items: center;
}

.authbox {
    width: 500px;
    height: max-content;
    position: absolute;
    margin-right: 50%;
    z-index: 5;
    margin-top: 5%;
    border: solid 2px black;
    border-radius: 30px;
    padding: 10px;
}

.imgbox1>h2,
.imgbox2>h2,
.imgbox3>h2 {
    color: #cbcfb9;
    background-color: rgba(116, 115, 115, 0.357);
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.imgbox1 {
    width: 350px;
    height: 400px;
    background: rgba(158, 158, 158, 0.568) url(../img/site/imgbox1.jpg) top/cover;
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
    position: absolute;
    padding: 20px;
    z-index: 2;
    margin-right: 5%;
    margin-bottom: 10%;
}

.imgbox2 {
    width: 400px;
    height: 400px;
    background: rgba(158, 158, 158, 0.568) url(../img/site/imgbox2.jpg) bottom/cover;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
}

.imgbox3 {
    width: 400px;
    height: 300px;
    background: rgba(158, 158, 158, 0.568) url(../img/site/imgbox3.jpg) center/cover;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    margin-left: 70%;
    margin-bottom: 10%;
    z-index: 1;
}

.authBoxContent{
    background-color: #fcfdfba9;
    border-radius: 25px;
    height: 100%;
}

.authBoxTitle {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: solid 2px rgba(3, 3, 3, 0.555);
}

.authBoxError {
    height: 40px;
    margin: 5px 80px;
    color: red;
    border-radius: 5px;
    text-align: center;

}

.authBoxForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 40px;
    border-bottom: solid 2px rgba(3, 3, 3, 0.555);
    align-items: center;
}

.authInput{
    width: 100%;
    margin: 5px;
    width: 300px;
    height: 45px;
}

.authBoxButton {
    font-size: 20px;
}

.authBoxFooter{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
}

.authFooterInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.authFooterInput>p{
    margin-left: 5px;
}
