
.containerPostList {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.185);
}
.titlePostList{
    height: 100px;
}
.titlePostList > h1 {
    font-family: 'Open Sans', sans-serif;/*Задаем шрифт для body*/
    font-size: 50px;/*Задаем размер шрифта*/
    color: #ffffff; /*Задаем свет шрифта*/
    font-weight: 800;  /* жжирность шрифта*/
    text-align: center;
    background: linear-gradient(to left,rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.658),rgba(32, 32, 32, 0) 100%);
}
.postList{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.containerPost {
    margin: 15px;
    padding: 5px;
    height: 370px;
    width: 47%;
    border-top: solid;
    border-color: aliceblue;
    background-color: rgba(0, 0, 0, 0.281);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.postContent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postTitle{
    /* border: solid;
    border-color: #00ffff; */
    margin-bottom: 10px;
}
.postImg{
    text-align: center;
    height: 100%;
    width: 100%;
    /* border: solid;
    border-color: #00ffff; */
    margin-bottom: 10px;
}
/* .postText{
    border: solid;
    border-color: #00ffff;
    margin-bottom: 10px;
} */

.herfHashtags{
    margin: 0 5px;
    color: rgba(25, 240, 255, 0.829);
}
.postInfo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: solid;
    border-color: #00ffff; */
}
.postOwner{
    display: flex;

}
.socialMediaPost{
    margin-top: 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.socialMedia{
    border-radius: 50px;
}

.sliderPosts{
    display: flex;
    justify-content: center;

}
.sliderP{
    margin: 5px;
}
.sliderStyleButton{
    padding: 3px 20px;

}
