body, header, footer {
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    margin: 0;/*Убирает стандартные оцтупы*/
    font-family: 'Open Sans', sans-serif;/*Задаем шрифт для body*/
    font-size: 14px;/*Задаем размер шрифта*/
    color: #ffffff; /*Задаем свет шрифта*/
    font-weight: 400;  /* жжирность шрифта*/
    background-color: #fff; /*Цвет фона для body*/
}
button {
    font-style: none;
    border: 0;
    color: rgb(51, 51, 51); /*Цвет шрифта для ссылок*/
    text-decoration: none; /*Убирает подчеркивание под ссылками*/
    transition: .2s linear; /*Плавный переход 0.1сек. к стилю ,     nav_link:hover */
    padding: 5px 20px;
    background: linear-gradient(to top,rgba(255, 255, 255, 0),rgb(231, 231, 231) 99%);
    border-top: solid;
    border-color: #ffffff;
    border-radius: 1px;
    padding-bottom: 5px;
    font-size: 14px;/*Задаем размер шрифта*/
    font-weight: 400;
    text-transform: uppercase
}
button:hover {
    background: linear-gradient(to top,rgb(255, 255, 255),rgb(255, 255, 255)80%);
    border-radius: 2px 17px 2px 17px;
    color: rgba(255, 14, 14, 0.959);
}

input, input:focus{
    border: none;
}
*,
*:before,
*:after {
    margin: 0; /*Убираем все оцтупы*/
    box-sizing: border-box; /*Фиксируем размер блоков,  оцтупы не будут влиять на размер блока*/
}
h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Убираем все отступы у всех заголовков*/
}
p {
   margin: 0; /*также убераем отступ текста <p> сверху, слува и справа, снизу оставляем 10*/
}
a {
    text-decoration: none;
}
ul, li {
    padding: 0;
    list-style: none;
}
.App{
    height: 100%;
    min-height: max-content;
}

.containerBody {
    width: 100%;
    height: 890px;
    max-height: 100%;
    background: black;
}
.containerHeader{
    width: 100%;
    height: 80px;
    /* position: absolute; */
    position: absolute; /*Закрепляет по верх элементов (вторым слоем)*/
    width: 100%; /*ширина на весь экран*/
    top: 0; /*позиция высота 0*/
    left: 0; /* позиция слева 0*/
    z-index: 1000; /* по верх всех элементов*/

}

.containerBody {
    /* height: 100%; */
    height: max-content;
    width: 100%;
    min-height: 890px;
    background:#ffffffbb url(../img/site/home_font.jpg) center /cover;

}


.home{
    padding-top: 85px;
    height: 890px;
    max-height: 100%;
    display: flex;
    height: max-content;
}
.sidebar {
    padding: 5px;
    min-height: fit-content;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    flex-direction: column;

}
.userInfo{
    padding: 5px;
    margin-bottom: 5px;
    height: 300px;
    width: 100%;
    background: linear-gradient(to top,rgba(255, 255, 255, 0),rgb(0, 0, 0, 0.829) 100%);
}
.homeNav {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 490px;
    width: 100%;
    background: linear-gradient(to top,rgb(0, 0, 0, 0.829),rgba(255, 255, 255, 0) 100%);
    border-top: solid;
    border-color: #c4c4c4e5;
    border-radius: 1px;
    border-radius: 50px 0 0;
}
.main {
    height: 100%;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.308);
}
.niknameProfileSeting{
    display: flex;
    justify-content: space-between;
}
.nikName{
    padding: 2px 5px;
    width: 100%;
    background: linear-gradient(to left,rgba(255, 255, 255, 0),rgb(236, 236, 236) 350%);
}
.uInfo {
    display: flex;
    justify-content: space-between;
    height: 230px;
    margin-bottom: 5px;
}
.avatarHome{
    padding: 5px;
    width: 100%;
    background: linear-gradient(to left,rgba(255, 255, 255, 0),rgb(236, 236, 236) 250%);
}
.avatar{
    width: 100%;
    height: 100%;
    background:#008197 url(../img/site/avatar.jpg) center /cover;
}
.informHome{
    padding: 5px;
    width: 100%;
    background: linear-gradient(to right,rgba(255, 255, 255, 0),rgb(236, 236, 236) 250%);
    border-radius: 0 0 100%;
}
.userMenu{
    display: flex;
    justify-content: space-evenly;
}
.userMenuLink{
    color: rgb(51, 51, 51); /*Цвет шрифта для ссылок*/
    text-decoration: none; /*Убирает подчеркивание под ссылками*/
    transition: .2s linear; /*Плавный переход 0.1сек. к стилю ,     nav_link:hover */
    padding: 5px 10px;
    background: linear-gradient(to top,rgba(255, 255, 255, 0),rgb(241, 241, 241) 20%);
    border-top: solid;
    border-color: #ffffff;
    border-radius: 1px;
    margin: 20px;
}
.userMenuLink:hover {
    color: rgb(252, 7, 7); /*Цвет шрифта для ссылок*/
    text-decoration: none; /*Убирает подчеркивание под ссылками*/
    transition: .2s linear; /*Плавный переход 0.1сек. к стилю ,     nav_link:hover */
    padding: 5px 10px;
    background-color: #fff;
    border-top: solid;
    border-color: #ff7979;
    border-radius: 1px;

}
.use,.use:hover {
    color: rgb(255, 49, 49); /*Цвет шрифта для ссылок*/
    text-decoration: none; /*Убирает подчеркивание под ссылками*/
    transition: .2s linear; /*Плавный переход 0.1сек. к стилю ,     nav_link:hover */
    padding: 5px 10px;
    background: linear-gradient(to top,rgb(241, 241, 241),rgba(255, 255, 255, 0) 250%);
    border-top: solid;
    border-color: #ff0000;
    border-radius: 1px;
}
.linkOptions{
    width: 100%;
    height: 100%;
    border-radius:25px 25px 0 0;
    background: linear-gradient(to top,rgba(255, 255, 255, 0),rgb(241, 241, 241) 99%);
}

.not_found{
    width: 100%;
    height: 890px;
    background:#008197 url(../img/site/notfoundfone.jpg) center /cover;
    position: relative;
    display: flex;
}

.error404{
    text-align: center;
    margin: auto;
    height: 500px;
    width: 900px;
    background-color: #4b4a4a65;
    border-radius: 45px;
}

.namber404, .message404{
    color: #0000009c;
    font-size: 250px;/*Задаем размер шрифта*/
    font-weight: 800;
    text-transform: uppercase
}
.message404{
    font-size: 45px
}
