body, header, footer {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
}

*:focus {
    outline: none;
}
*,
*:before,
*:after {
    margin: 0;
    box-sizing: border-box;
}
input:-internal-autofill-selected {
    font-style: none;
}


button {
    border-style: none;
    border: solid 2px #a3a59986;
    text-transform: uppercase;
    color: #A3A599;
    background-color: #282623;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
}
button:hover {
    color: #88A550;
    border-color: #88A550;
    border-radius: 10px;
    transition: .2s;
}

input {
    border-style: none;
    background-color: #f7f8f4c0;
    border-radius: 5px;
    padding: 5px;
    border: solid 1px #282623;
    width: max-content;
    height: max-content;
}
input {
    border: solid 2px #a3a59900;
}
input:hover {
    border: solid 2px #FBCD4B;
}
input:focus {
    border:double 4px #88A550;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 0;
}
p {
   margin: 0;
}
a {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}
ul, li {
    padding: 0;
    list-style: none;
}
.backBlock {
    text-align: center;
    background-color: #282623ec;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contBlock {
    height: max-content;
    width: max-content;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(0.334turn, #ffffff67,#feffff00, #16c1ff6f , #ffffff00, #fdfeff81);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contBlockMessage{
    border-top: solid 2px #282623;
    margin-top: 10px;
    height: 100%;
    padding: 10px;
    width: 400px;
}

.containerYellow {
    background-color: #FBCD4B;
    width: max-content;
    height: max-content;
    border: solid 1px black;
}

.containerGrey {
    background-color: #A3A599;
    width: max-content;
    height: max-content;
    border: solid 1px black;
}

.containerDark {
    background-color: #282623;
    width: max-content;
    height: max-content;
    border: solid 1px black;
}

.containerGreen {
    background-color: #88A550;
    width: max-content;
    height: max-content;
    border: solid 1px black;
}

.body {
    width: 100%;
    height: 100vh;
}

/*
font-family: 'EB Garamond', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif; */
