
/* ----------------
    Header
=================*/
.header{
    padding: 15px 0 0; /*Оцтупы в сверху и снизу 30px left and right 0px*/
    height: 85px; /*Высота шапки (Header)*/
    /*background-color: rgba(255, 255, 255, 0.5) ; /*Цвет фона шапки (Header)*/
    opacity: 5; /*Делает прозрачность фона (90% видимости) */
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: #000000; */
}
.headerScrol{
}

.headerLabel, .headerLabel >h1 {
    display: flex;
    justify-content: space-between;
    text-align:center;
}
.headerLabel > h1 {
    color: #ff0000;
}
.headerLabel > h2 {
    color: #00000075;
}
.headerLabel {
    margin:0 20px;
    padding:0 13px;
    /* background-color: rgba(0, 0, 0, 0.329); */
    background: linear-gradient(to top,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.986) 65%);
    height: 60px;
    width: 215px;
    border-radius:0 15px 0 15px;
    font-size:  25px;
}

.userUse{
    color: #00000075;
    padding: 5px;
    border-radius:15px 0 15px 0;
}
.userAvatar{
    margin:0 15px;
    padding:0 5px;
    height: 50px;
    width: 70px;
    border: solid;
    background: linear-gradient(to top,rgba(255, 255, 255, 0),rgba(196, 195, 195, 0.767) 65%);
    border-color: #00d9ff;
}

/* ----------------
Nav
=================*/
.nav {
    align-items: center; /*Размещает блоки внутри nav по центру*/
    display: flex; /*все блоки в нутри header_inner буду работать по flex*/
    justify-content: space-between; /*Значение flax  распологает содержимое header_inner на равные растояния друг от друга*/
    font-size:  14px; /*Размер шрифта для навигации*/
    font-weight: 400;/*стиля шрифта 400 = Regular для Open Sans*/
    text-transform: uppercase; /*Делает буквы большие (ВСЕ БУКВЫ ЗАГЛАВНЫЕ)*/
    width: 450px;
    height: 50px;
    /* margin-left: 30px; */
    /* background-color: rgba(0, 0, 0, 0.486); */
    /* border-radius:0 15px 15px 0; */


}
.nav_link{
    margin-left: 10px; /*Оцтуп у каждой ссылки с лево*/
    margin-right: 10px; /*Оцтуп у каждой ссылки с права*/
    color: rgb(51, 51, 51); /*Цвет шрифта для ссылок*/
    text-decoration: none; /*Убирает подчеркивание под ссылками*/
    transition: .2s linear; /*Плавный переход 0.1сек. к стилю ,     nav_link:hover */
    padding: 5px 10px;
    background: linear-gradient(to top,rgba(255, 255, 255, 0),rgb(241, 241, 241) 99%);
    border-top: solid;
    border-color: #ffffff;
    border-radius: 1px;
    padding-bottom: 5px;
}


.nav_link:hover {
    color: rgba(255, 14, 14, 0.959);
    background: linear-gradient(to top,rgb(255, 255, 255),rgb(255, 255, 255)80%);
    border-radius: 17px 2px 17px 2px;

}
.nav_link:first-child {
    margin-left: 10px; /*Делает оцтуп у первой ссылки nav_link*/
}
.nav_link:last-child {
    margin-right: 10px; /*Делает оцтуп у последней ссылки nav_link*/
}

